@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --rojo: #ff0800;
    --gris1: #6f6f6d;
    --gris2: #393536;
}

.fondorojo {
    background-color: var(--rojo);
}

.fondogris1 {
    background-color: var(--gris1);
}

.fondogris2 {
    background-color: var(--gris2);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contact_button {
    height: 60px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0px 30px 30px 0px;
}

.contact_button a {
    height: 60px;
    width: 60px;
    background-image: url("./img/Casco.png");
    background-size: cover;
}

.contact_button a:hover {
    height: 60px;
    width: 200px;
    background-image: url("./img/Contact.png");
    background-size: cover;
    transition: width 1s;
    cursor: pointer;
}

.news {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 100%;
    background-color: var(--gris2);
    color: white;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-image: url("/img/Onda.png");
    background-size: cover;
    gap: 20px;
}

.inicio img{
    height: 100px;
    margin-top: 50px;
}

.inicio h1{
    font-size: 80px;
    font-weight: bold;
}

.inicio h2{
    font-size: 50px;
    font-weight: lighter;
    margin-top: -20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    font-size: 1.6vw;
    color: white;
}

.leads {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    height: auto;
    align-items: center;
    justify-items: center;   
    padding: 10px 100px;
    margin-bottom: 80px;
    margin-top: 80px;
}
  
.item_leads {
    text-align: center;
    width: 94%;
    height: auto;    
}

.item_leads img {
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
}

.item_leads img:hover {
    transform: scale(1.02);
    transition: transform 0.5s;
}

.item_leads h1 {
    max-width: 100%;
    width: 100%;
    height: auto;
    font-size: 28px;
}

.item_leads p {
    max-width: 100%;
    width: 100%;
    height: auto;
    font-size: 15px;
}

.item_leads button {
    background-color: var(--rojo);
    color: white;
    max-width: 50%;
    width: 50%;
    height: auto;
    font-size: 22px;
    margin-top: 25px;
    border-radius: 30px;
    border: none;
    padding: 2px;
}

.item_leads button:hover {
    background-color: var(--gris2);
    cursor: pointer;
    transition: background-color 0.5s;
}

.capacitacion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: red;
    padding: 25px 100px;
}

.capacitacion h1{
    color: white;
    font-size: 22px;
    background-color: var(--gris2);
    font-weight: 500;
    padding: 0px 10px;
    border-radius: 8px 0px 0px 8px;
}

.capacitacion p{
    font-size: 17px;
    background-color: white;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 0px;
    border-radius: 0px 8px 8px 0px;
}

footer {
    width: 100%;
    height: 120px;
    background-color: var(--gris1);
    margin-top: auto;
}

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    gap: 120px;
}

.box {
    display: flex;
    flex-direction: column;
    color: white;
}

.box a {
    color: white;
    text-decoration: none;
}

.text_capacitate {
    text-align: center;
    font-size: 22px;
    padding: 20px;
    height: auto;
}

.container_lineas {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px 20px 0px;
}

.lineas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 100px;
    max-width: 100%;
}

.linea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: auto;
    font-size: 12px;
    border: solid var(--rojo) 3px;
    border-radius: 10px;
    text-align: center;
    color: var(--rojo);
    line-height: 30px;
    padding: 5px 0px;
}

.linea:hover {
    transform: scale(1.1);
    cursor: pointer;
    border: solid var(--gris2) 3px;
    color: var(--gris2);
    transition: transform 1s,
                border 2s,
                color 2s;
}

.linea h1 {
    font-weight: 400;
}

.container_marcas {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px 20px 0px;
}

.marcas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 100px;
    max-width: 100%;
}

.marca {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: auto;
    padding: 5px 0px;
}

.marca img {
    max-width: 230px;
    height: auto;
}

.marca:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 1s;
}

@media (max-width: 768px) {
    .leads {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        padding: 10px 50px;
    }
    footer {
        height: auto;
    }
    .contacto {
        flex-direction: column;
        gap: 50px;
        padding: 30px 0px;
    }   
    .home {
        flex-direction: column;
        height: auto;
    }
    .home img{
        max-width: 100%;
    }
    .inicio {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 200px;
    }
    .inicio img{
        height: 70px;
        margin-top: 50px;
    }
    .inicio h1{
        font-size: 60px;
    }
    .inicio h2{
        font-size: 30px;
        font-weight: lighter;
        margin-top: -20px;
    }    
    .capacitacion {
        flex-direction: column;
        padding: 25px 50px;
        text-align: center;
    }
    .capacitacion h1{
        border-radius: 0px;
        width: 100%;
    }
    .capacitacion p{
        border-radius: 0px;
    }    
    .title {
        text-align: center;
        max-width: 100%;
    }
    .title h1{
        font-size: 35px;
    }    
    .item_leads button {
        max-width: 70%;
        width: 70%;
    }
    .container_lineas {
        padding: 20px 10px 20px 0px;
    }
    .container_marcas {
        padding: 20px 10px 20px 0px;
    }
    .lineas {
        grid-template-columns: 1fr;
    }
    .marcas {
        grid-template-columns: 1fr;
    }
    .linea {
        width: 220px;
        padding: 5px 0px;
    }
}
  
@media (max-width: 480px) {
    .leads {
        grid-template-columns: 1fr;
        grid-gap: 80px;
        padding: 10px 20px;
    }
}